<form method="post" action="{{ path('app_yard_delete', {'id': yard.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ yard.id) }}">
    <button class="btn btn-primary mb-2">Supprimer</button>
</form>
