{% extends 'base.html.twig' %}

{% block title %}Editer un chantier{% endblock %}

{% block body %}
    <h1>Editer un chantier</h1>

    {{ include('yard/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    {{ include('yard/_delete_form.html.twig') }}
{% endblock %}
