{% extends 'base.html.twig' %}

{% block title %}Création de compte requise{% endblock %}

{% block body %}
    <h1>Nouvelle inscription à  UBC Création</h1>
    <p>Vous devez créer un compte et être authentifié pour effectuer une demande de travaux.<br />
    Rendez-vous ici: <a href="{{ path('app_register') }}">S'inscrire</a></p>
   {% endblock %}