{% extends 'base.html.twig' %}

{% block title %}Création de compte requise{% endblock %}

{% block body %}
    <h3>Connexion nécessaire à UBC Création</h3>
    <p>Vous devez créer un compte et être authentifié pour effectuer une demande de travaux.<br />
    Rendez-vous sur la page d'enregistrement: <a href="{{ path('app_register') }}">S'inscrire</a> ou d'identification: <a href="{{ path('app_login') }}">Se connecter</a></p>
   {% endblock %}