{% extends 'base.html.twig' %}

{% block title %}Nouveau chantier{% endblock %}

{% block body %}
    <h1>Créer un nouveau chantier</h1>

    {{ include('yard/_form.html.twig') }}

    <a href="{{ path('app_yard_index') }}">Retourner à la liste</a>
{% endblock %}
