{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.request.attributes.get('_route') == 'app_register' %}
        {{ importmap('cgumodal') }}
    {% endif %}
{% endblock %}

{% block body %}
    
    <div class="mx-auto p-2 w-50">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Créer un compte</h3>
                {{ include('registration/_form.html.twig') }}
            </div>
        </div>
    </div>
    
    <button class="show-modal">Lire les CGU</button>
    {{ include('registration/_cgu.html.twig') }}

{% endblock %}
