{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}

{% block body %}

<main>
  <section class="container-fluid m-3">

    <article>
      <div class="row">
        <div class="col-6">
          <div class="card p-3 w-100" >
            <img src="{{ asset('../assets/images/services_building_site.png') }}" class="card-img-top w-50 image-fluid img-cover"
            alt="Projets de construction" width="50" />
            <h3 class="card-title text-center p-2">Projets de construction</h3>

            <p class="card-text"><em>UBC Création</em> réalise une large gamme de travaux pour satisfaire vos ambitions 
            et nourrir vos projets créatifs:</p>
            
            <ul class="tab-nav">
              <li tabindex="5">Construction de maisons individuelles</li>
              <li tabindex="10">Maçonnerie générale tous corps d'état</li>
              <li tabindex="15">Gros oeuvre</li>
              <li tabindex="20">Aménagement d'intérieur et extérieur</li>
              <li tabindex="25">Isolation</li>
              <li tabindex="30">Aire de jeux</li>
            </ul>
          </div>
        </div>
        
        <div class="col-6">
        <div class="card p-3 w-100">
          <img src="{{ asset('../assets/images/services_renovation.png') }}" class="card-img-top  w-25 image-fluid img-cover" 
          alt="Projets de rénovation" width="50" />
          <h3 class="card-title text-center p-2">Projets de rénovation</h3>
          
          <p class="card-text">Pensez à <em>UBC Création</em> pour tous vos projets de rénovation:</p>
          
          <ul class="tab-nav">
            <li tabindex="35">Habitations</li>
            <li tabindex="40">Aires de jeux existantes</li>
            <li tabindex="45">Salles de conférence</li>
            <li tabindex="50">Salle des fêtes</li>
            <li tabindex="55">Salle de réunion</li>
            <li tabindex="60">Théâtres</li>
          </ul>
        </div>
      </div>
    </div>
    </article>
  </section>
</main>

{% endblock %}