{% extends 'base.html.twig' %}

{% block title %}UBC Création - Accueil{% endblock %}

{% block body %}

<header class="d-flex align-items-center m-2">
  <a href="./index.html"><img src="./design/logo.png" alt="UBC Création" class="p-3" /></a>
  <div class="flex-directions-column">
    <h1>UBC CREATION</h1>
    <h3>Constructeur de maison individuelles</h3>
  </div>
</header>


{{ include('homepage/navbar.html.twig' )}}
    

<main>

</main>

{{ include('homepage/footer.html.twig') }}

{% endblock %}
