{% extends 'base.html.twig' %}

{% block title %}UBC Création - Accueil{% endblock %}

{% block body %}

<main>
<section class="container-fluid justified mt-3" itemscope itemtype="https://schema.org/Person">
    <p><em>UBC Création</em> est un constructeur de maisons individuelles basé à Olivet (Loiret) depuis 2014. L'entreprise existait précédemment sous le nom d'Urban Création et sert ses clients depuis plus de vingt ans.<p>

    <p>Travaillant à la fois avec les particuliers et les professionnels, <em>UBC Création</em>, dirigée par Monsieur Carlos de Sousa, intervient dans de nombreux domaines liés à l'habitat:</p> 
      <ul>
        <li>Petite maçonnerie</li>
        <li>Grosse maçonnerie</li>
        <li>Rénovation</li>
        <li>Ravalement de façade</li>
      </ul>

    <p><em>UBC Création</em> et ses maçons hautement spécialisés vous proposent ses services et se déplacent dans les départements du <strong>Loiret</strong>, <strong>Cher</strong> et <strong>Indre-et-Loire</strong> pour servir toujours plus de clients et assurer avec succès les ambitions de chacun de nos partenaires.</p>
      

    <p>Nos équipes, constituées d'une dizaine de spécialistes nous permettent d'intervenir sur des chantiers multiples et dans des délais rapides.</p>

    <p>Vous pouvez accéder à une liste non exhaustive de nos prestations ici: <a href="./services.html" class="text-decoration-none">Prestations</a> ainsi qu'à une fraction de nos travaux réalisés par des clients pleinement satisfaits ici: <a href="./jobs.html" class="text-decoration-none">Travaux</a></p>
</section>
</main>

{% endblock %}
