<form method="post" action="{{ path('app_yard_delete', {'id': yard.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ yard.id) }}">
    <button id="delete_btn" class="btn">Supprimer</button>
</form>
