{% extends 'base.html.twig' %}

{% block title %}Connexion au compte utilisateur{% endblock %}

{% block body %}

    {% if error %}
        <div>
            {{ error.messageKey | trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="mx-auto p-2 w-50">
        <div class="card">
            <div class="card-body">
            <h3 class="card-title">Connexion au compte utilisateur</h3>
                <form action="{{ path('app_login') }}" method="post">
                    <label for="username">Email:</label>
                    <input tabindex="10" type="text" id="username" name="_username" placeholder= "Entrez votre email" 
                    value="{{ last_username }}">

                    <label for="password">Mot de passe:</label>
                    <input tabindex="20" type="password" id="password" name="_password" 
                    placeholder="Entrez votre mot de passe">

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button tabindex="30" type="submit" class="btn btn-primary">Connexion</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
