body {
   height: 150vh;
   background: linear-gradient(to top left, antiquewhite, rgb(181, 169, 153));
   font: small 'Lucida Bright', monospace;
 }
 
 .justified {
   text-align: justify;
   text-justify: inter-word;
 }
 
 * {
   box-sizing: border-box;
 }
 
 /* Position the image container (needed to position the left and right arrows) */
 .container {
   position: relative;
 }
 
 /* Hide the images by default */
 .mySlides {
   display: none;
 }
 
 /* Add a pointer when hovering over the thumbnail images */
 .cursor {
   cursor: pointer;
 }
 
 /* Next & previous buttons */
 .prev,
 .next {
   cursor: pointer;
   position: absolute;
   top: 40%;
   width: auto;
   padding: 16px;
   margin-top: -50px;
   color: white;
   font-weight: bold;
   font-size: 20px;
   border-radius: 0 3px 3px 0;
   user-select: none;
   -webkit-user-select: none;
 }
 
 /* Position the "next button" to the right */
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }
 
 /* On hover, add a black background color with a little bit see-through */
 .prev:hover,
 .next:hover {
   background-color: rgba(0, 0, 0, 0.8);
 }
 
 /* Number text (1/3 etc) */
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
 
 /* Container for image text */
 .caption-container {
   text-align: center;
   background-color: #222;
   padding: 2px 16px;
   color: white;
 }
 
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 
 /* Six columns side by side */
 .column {
   float: left;
   width: 16.66%;
 }
 
 /* Add a transparency effect for thumnbail images */
 .demo {
   opacity: 0.6;
 }
 
 .active,
 .demo:hover {
   opacity: 1;
 }

 .bg-nav {
   background: linear-gradient(to bottom, #ff3300 0%, #ff6666 100%);
 }

 .img-cover {
   max-height: 40%;
 }

input:focus {
  background: linear-gradient(to bottom, #ff3300 0%, #ff6666 100%);
 }

a {
  text-decoration: none;
}

ol, ul {
  //  list-style-type: none;
   padding: 0.4rem 0.6rem;
}

table.table-hover tr td:hover td {
  background-color: #ff6666!important;
}

.tab-nav > li:focus {
  outline: none;
  padding: 4px 6px 2px;
  margin: 5px 1px 3px 0;
  border: 1px solid rgb(184, 26, 26);
  border-radius: 7%;
  box-shadow: 0 0 5px rgba(184, 26, 26, 1);
  width: max-content;
}


/* Modal window */
.hidden {
  display: none;
}

.custom-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 70%;
  max-height: 80vh;

  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  padding: 2.75rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  text-align: justify;
  text-justify: inter-word;
  overflow-y: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 0.6rem;
  right: 1.3rem;
  font-size: 2.3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.show-modal {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: antiquewhite;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}
