{% extends 'base.html.twig' %}

{% block title %}Editer les actualités{% endblock %}

{% block body %}
    <h1>Editer les actualités</h1>

    {{ include('news/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('app_news_admin_index') }}" class="btn btn-primary mb-2">Retour à la liste</a>

    {{ include('news/_delete_form.html.twig') }}
{% endblock %}
