<form method="post" action="{{ path('app_type_site_admin_delete', {'id': type_site.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_site.id) }}">
    <button class="btn btn-primary mb-2">Supprimer</button>
</form>
