{% extends 'base.html.twig' %}

{% block title %}Editer un type de chantier{% endblock %}

{% block body %}
    <h1>Editer un type de chantier</h1>

    {{ include('type_site/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_site_index') }}">Retour à la liste</a>

    {{ include('type_site/_delete_form.html.twig') }}
{% endblock %}
