{% extends 'base.html.twig' %}

{% block title %}Edit TypeSite{% endblock %}

{% block body %}
    <h1>Edit TypeSite</h1>

    {{ include('type_site/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_site_index') }}">back to list</a>

    {{ include('type_site/_delete_form.html.twig') }}
{% endblock %}
