{% extends 'base.html.twig' %}

{% block title %}Nouveau dtype de chantier{% endblock %}

{% block body %}
    <h1>Créer un type de chantier</h1>

    {{ include('type_site/_form.html.twig') }}

    <a href="{{ path('app_type_site_admin_index') }}">Retour à la liste</a>
{% endblock %}
